{% extends "home.html" %}
{% load static %}

{% {% block content %}

<section id="blog">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    {% for article in articles %}
                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="#">
                                   <img src="{{article.imageUrl.url}}" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="{% url 'post' article.slug %}">{{article.title}}</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="{{article.author_pic.url}}" class="img-responsive img-circle">{{article.author}}</a></span>
                              <span><i class="fa fa-date"></i>{{article.created}}</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i> 35 Comments</a></span>
                              <span><a href="#"><i></i>{{article.categories}}</a></span>
                         </div>
                         <div class="blog-post-des">
                              <p>{{article.content|truncatechars:300|safe}}</p>
                              <a href="{% url 'post' article.slug %}" class="btn btn-default">Lire La Suite</a>
                         </div>
                    </div>
                    {% endfor %}         
          </div>
     </div>
</section>

{% endblock content %}%}